*{ margin:0; padding:0;}
body{font-family:Verdana, Geneva,"微软雅黑";color:#666; font-size:12px; line-height:1.5;}
img{vertical-align:top;border:0;}
em{ font-style:normal;}
input,button{ border:0;}
h1,h2,h3,h4{ font-weight:normal;}
h1{ font-size:18px;}
a{ text-decoration:none; color:#444;}a:hover{ color:#f29117 !important}
ul {list-style:none;}
.b_c{color:#008ccc}
.b_cc{color:#000}
.left{ float:left;}
.relative{ position:relative;}
.absolute{ position:absolute;}
.right{ float:right;}
.f_size{ font-size:14px;}
.f_size1{ font-size:16px;}
.clear{ clear:both;}
.p_left{ padding-left:6%;}
.p_left1{ padding-left:10%;}
.p_left0{ padding-left:3%;}
.p_right0{ padding-right:3%;}
.t_center{ text-align:center;}
.top_wrap{background-image:-moz-linear-gradient(top, #fff, #f4f4f4);background-image:-webkit-linear-gradient(top, #fff, #f4f4f4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4f4f4', GradientType='0'); /* IE*/}
.wrap img,.w_content dl img,.img_scroll ul li img,.w_all img,.waa img{max-width:100%;height:auto;width:auto\9; /* ie8 */}
h3{ font-size:15px;}
h4{ font-size:14px; color:#9b9b9b;}
.l_border{ border-left:solid 1px #eee}
.l_r{ padding:15px 3%;}
.l_r7{ padding:10px 3%;}
.l_r1{ padding:15px 20px;}
.l_r2{ padding:5px 8px;}
.l_r3{ padding:5px 20px;}
.l_r6{ padding:5px 12px;}
.l_r4{ padding:2px 4px;}
.l_r5{ padding:0 3%;}
.l_r10{ padding:0 10%;}
.l_r8{ padding:10px 15px;}
.l_r9{ padding:8px 0;}

.m_b{ margin-bottom:10px;}
.m_b3{ margin-bottom:130px;}
.p_l{ padding-left:10px;}
.p_l2{ padding-left:50%;}
.p_b{ padding-bottom:8px;}
.p_b1{ padding-bottom:80px;}
.p_b2{ padding-bottom:150px;}
.p_b3{ padding-bottom:15px;}
.p_b4{ padding-bottom:30px;}
.p_l1{ padding-left:3px;}
.p_b6{ padding-bottom:100px;}
.b_bottom{ border-bottom:solid 1px #eee; }
.w_35{ width:35%;}
.w_10{ width:10%;}
.w_65{ width:65%;}
.w_76{ width:76%;}
.w_63{ width:63%;}
.w_32{ width:32%;}
.w_40{ width:40%;}
.w_45{ width:45%;}
.w_54{ width:54%;}
.w_25{ width:25%;}
.w_20{ width:20%;}
.w_60{ width:60%;}
.w_27{ width:27%;}
.w_33{ width:33%;}
.w_75{ width:72%;}
.w_50{ width:47%}
.w_67{ width:67%}
.w_64{ width:64%}
.w_05{ width:50%;}
.w_49{ width:49%;}
.w_95{ width:88%}
.w_5{ width:5%;}
.m_right{ margin-right:12px;}
.m_right1{ margin-right:20px}
.m_right05{ margin-right:5px}
.t_left{ text-align:left;}
.b_r{ background:url(../images/w_151.jpg) repeat-y right 0;}
.b_r1{ background:url(../images/w_151.jpg) repeat-y right 0 #fff;}
.title{ line-height:40px;}
.lint{ padding:10px 10px;}
.title img{ vertical-align:middle;}
.lin_t{ line-height:24px; text-indent:10px;}
.lin_t li{ padding:15px 0; font-size:14px;}
.lin_t li span{ padding-left:3px;}
.lin_t li em{ border:solid 1px #fff; background:#f5c611; border-radius:4px; height:6px; width:6px; display:inline-block; position:relative; top:-4px; left:1px;}
.lin_t li b{ border:solid 1px #fff; background:#b267ff; border-radius:4px; height:6px; width:6px; display:inline-block; position:relative; top:-4px; left:1px;}
.w_content{ padding-bottom:20px;}
.w_content dl{ width:40%; overflow:hidden; text-align:center;margin:6% 0 0 6%; border:solid 1px #ccc; border-radius:4px; float:left;}
.w_content dl dt{ padding-bottom:10px; background:#fbfbfb; padding:10px 18%; }
.w_content dl dd{ padding:5px 0;}
.li_at{ background:url(../images/jiantou.png) no-repeat right center #4a90e2; color:#fff; position:relative;}

.zhao li{ float:left; width:29%;margin:0 0 3% 3%;}
.tet{ font-size:12px; overflow:hidden;position:relative;}
.tet p{ position:absolute; bottom:5px; left:50%; margin-left:-24px;}
.r_c{ color:#f39520;}
.o_b{ background:#f29117; color:#fff;}
.ob_b{ border:solid 1px #f29117; color:#f29117;}
.gb_b{ border:solid 1px #2cb232; color:#2cb232; background:none;}
.bb_b{ border:solid 1px #999; color:#999; background:none;}
.w_100{ width:100%;}
.layinput{ width:80%;}
.b_top{ border-top:solid 1px #ccc; background:#fff;}
.b_buttom{background-image:-moz-linear-gradient(top, #9ce100, #68c400);background-image:-webkit-linear-gradient(top, #9ce100, #68c400);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ce100', endColorstr='#68c400', GradientType='0'); /* IE*/ border-radius:4px; padding:14px 0;width:80%; margin:20px auto;color:#fff; text-align:center; font-size:18px;}
.b_buttom1{background-image:-moz-linear-gradient(top, #7bbef1, #4c92e2);background-image:-webkit-linear-gradient(top, #7bbef1, #4c92e2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbef1', endColorstr='#4c92e2', GradientType='0'); /* IE*/}
.pre{ position:fixed; bottom:0; width:65%;}
.shu{ position:relative;width:80%; margin:10px auto;}
.shut{ position:relative;width:70%; margin:10px auto;}
.shu_content{ position:absolute; left:10%; top:20%; width:86%; font-size:18px;}
.shu_content img{ width:20%;}
.shu_content span{ padding-left:15px;}
.trt{ background:#fbfbfb; border:solid 1px #ccc; border-radius:4px; width:70%; margin:0 auto 20px; padding:5px 5%;}
.trt1{ font-size:14px; padding-top:10px;}
.b_trt{ width:86%; margin:12px auto; background:#4d9fff; border-radius:4px; padding:10px 5%; font-size:14px; color:#fff;}
table{ width:100%;}
table td{ line-height:18px; padding:15px 0 15px 2%; border-bottom:solid 1px #ccc;}
.text{ width:84%; min-height:130px; font-size:12px; border:solid 1px #ccc; border-radius:4px; padding:5px 3%;}
.l_back{ overflow:hidden; background:#fafafa; border-radius:4px; border:solid 1px #ccc;}
.b_bt{background-image:-moz-linear-gradient(top, #7ec1f2, #4c92e3);background-image:-webkit-linear-gradient(top, #7ec1f2, #4c92e3);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ec1f2', endColorstr='#4c92e3', GradientType='0'); /* IE*/ border-radius:4px; padding:12px 12%; color:#fff;}

.swiper-slide{margin: auto;max-height: 400px; background:#fafafa;overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;  -webkit-box-orient: vertical;}
.swiper-slide1{margin: auto;max-height: 200px; background:#fafafa;overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;  -webkit-box-orient: vertical;}
.swiper-slide2{width:160px;margin: auto;max-height: 200px; background:#fafafa;overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;  -webkit-box-orient: vertical;}
.swiperon{ background:#fff; border-top:solid 1px #ccc; padding:10px 0; bottom:0 !important; }
.bottom_g{ position:absolute; bottom:10px; right:4%; z-index:1000; font-size:14px;}
.im{ position:absolute; left:0; top:0;}
.zhao li{ position:relative;}
.swiper-container-horizontal>.swiper-p{ text-align:center; padding-right:3%; width:97%;}
.swiper-container-horizontal>.swiper-p1{ bottom:10px;}
.grey0{ background:#ddd;}
.grey{ background:#f6f6f6;!important;}
.grey1{ background:#f9f9f9;}
.bao dl{ width:18%; float:left; margin:0 1% 1% 2%; padding:0 2% 4%; background:#fff; text-align:center;}
.bao dl.none{ margin-right:0;}
.bao dl dt{ padding:2% 10%;}
.blue{ background:#1eb1fc; color:#fff;}
.c_blue{ color:#1eb1fc;}
.c_border{ border:solid 1px #1eb1fc}
.bao dl dd{ margin-top:10px;}
.bottom{ position:fixed; bottom:0; width:100%; z-index:1000;}

.p_top0{ padding-top:32px;}
.p_top4{ padding-top:24px;}
.p_top{ padding-top:18px;}
.p_top1{ padding-top:12px;}
.p_top3{ padding-top:2px;}
.p_top5{ padding-top:10px;}
.p_top6{ padding-top:8px;}

.xue{background-image:-moz-linear-gradient(top, #fff, #f9f9f9);background-image:-webkit-linear-gradient(top, #fff, #f9f9f9);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f9f9f9', GradientType='0'); /* IE*/border-bottom:solid 1px #ccc;line-height:50px; position:relative;text-align:center; font-size:16px;}
.xue img{ cursor:pointer;}
.xiang_fen{ position:relative; z-index:100000;background:#fff;top:0; text-indent:15px; width:100%; font-size:14px;}
.xiang_fen>ul>li{ line-height:45px; border-bottom:solid 1px #ccc; }
.xiang_fen li a{ display:block;}
.w_b{ background:#fff;}
.yue li{line-height:1.5;overflow:hidden; background:#fff; font-size:14px;}
textarea{ border:0;font-size:14px;}
.yue li input.w_100{ padding:10px 0; width:97%; padding-left:3%;font-size:14px;}
.yue li .re{ padding:10px 0; width:67%;font-size:14px; float:right; line-height:1.3;}
.yue li .re1{ padding:5px 0; width:67%;font-size:14px; float:right; line-height:1.3;}
.bo{ border-radius:4px;}
.b_f{ color:#ffb100;}
.b_f1{ background:#008ccc}
.t_bottom{ border-top:solid 1px #eee;}
.m_top0{ margin-top:20px;}
.m_top3{ margin-top:30px;}
.m_top{ margin-top:20px;}
.m_top1{ margin-top:16px;}
.m_top2{ margin-top:4px;}
.m_top4{ margin-top:10px;}
.input{ padding:8px 0; border:solid 1px #ccc; border-radius:4px; font-size:14px; margin-right:10px;}
.b_buttom3{background-image:-moz-linear-gradient(top, #f9d65a, #f7bf1f);background-image:-webkit-linear-gradient(top, #f9d65a, #f7bf1f);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9d65a', endColorstr='#f7bf1f', GradientType='0'); /* IE*/ width:70%}
.img_scroll{ overflow-x:scroll; overflow-y:hidden; position:relative; padding:15px 0;}
.img_scroll1{ position:absolute;}
.img_scroll ul li{ float:left; display:inline-block; width:140px; padding-right:15px;}
.z{ color:#7e8fff;}
.c{ color:#ffb100}
.r{ color:#fd753a;}
.red{ background:#fd753a !important;}
.l{ color:#0bbe20}
.q{ color:#17b2f2}
.w_f{ color:#fff;}
.p_r{ padding-right:20px;}
.p_r1{ padding-right:5px;}
.p_r2{ padding-right:10px;}
.op1{ right:0; top:0;}
.op2{ right:3%; top:0;}
.op2 a{ color:#fff;}
.vl img{ vertical-align:middle; }
.top_b{ background:url(../images/background.png) no-repeat right 0 #409bfa}
.w_bottom{ border-bottom:solid 1px #fff;}
.f_size3{ font-size:18px;}
.f_size20{ font-size:20px;}
.f_size2{ font-size:22px; line-height:1;}
sub{ position:relative; top:-5px;}
.qi{background:#fff; padding:4% 0 0; width:70%; border-radius:4px; font-size:14px; position:fixed; top:50%; left:50%; margin:-100px 0 0 -35%; z-index:100000;}
.qi p{ width:50%; margin:0 auto 10px; color:#999;}
.qi p span{ padding-left:10px;}
.box{ opacity:0; background:rgba(0,0,0,.5); width:100%; height:100%; position:fixed; top:124px; left:0; z-index:1000;}
.boxt{ background:rgba(0,0,0,.5); width:100%; height:100%; position:fixed; top:124px; left:0; z-index:10; display:none;}
.tt_bottom{ display:block; padding-top:10px; width:100%; background:#fff;}
.g_c{ color:#898989}
.b_cb{ background:#aaa; color:#fff;}
.ppt{ padding:15px 0;}
.p_top2{ padding-top:4px;}
.m_b1{ margin-bottom:20px;}
.f_c{ background:#fef4e7; color:#f29117;}
.wu{ margin-top:40%;}
.wu dl dt{ margin:0 auto;}
.radius{ border-radius:4px; overflow:hidden;}
.radius1{ border-radius:18px; overflow:hidden;}
.product dl{ width:46%;margin:4% 0 0 3%; float:left; box-shadow:0 0 2px #aaa;}
.product dl dt{ background:#fff; padding:5%;}
.product dl dd{ background:url(../images/raw15_19.jpg) no-repeat 0 0 #fafafa; background-size:100% auto; padding:20px 5px 10px 5px;}
.b_g{ color:#507bab}
.t_right{ text-align:right;}
.b_g td{background:#cfe4fe;}
.xx{ border:solid 1px #ccc;border-bottom:none;}
.xx tr td{ border-bottom:solid 1px #ccc;}
.xx tr td:nth-of-type(even){ border-left:solid 1px #ccc;}
.xx tr:nth-of-type(even) td{ background:#fff;}
.xx tr:nth-of-type(odd) td{ color:#507bab}
.yuan li{ float:left; width:30%; margin:10px 0 10px 2.5%;}
.yuan li h2{ font-size:12px;}
.yuan li:nth-child(2){ background:#ffe683}
.yuan li:nth-child(3){ background:#9bd4ff}
.w_load{ margin:0 auto; width:80%;}
.w_load1{ margin:0 auto; width:60%;}
/*.w_load input{color:#fff; border:solid 1px #ccc; height:36px; line-height:36px; background:none; margin-bottom:20px; text-indent:60px;}
*/

.v_none{ padding-bottom:0;}
#zhan{ display:inline;}
#zhan sub{ font-style:normal; color:#fecb3f;}
.top_lan{ background:#38373c; line-height:52px; height:52px; color:#fff; text-align:center; font-size:16px; position:relative;}
.top_lan img{ vertical-align:middle;}
.lt{ left:3%;}
.rt{ right:3%;}
.rt a{ color:#fff;}
.dian{ top:50%;width:100%; color:#fff;}
.hover_b{ background:url(../images/zheng_013.png) no-repeat center bottom;}
.w_img img{ width:22%;}
.r_b{ background:#e20000; color:#fff;}
.r_bc{ color:#e20000}
.f_size0{ font-size:12px}
.op2{ bottom:25px; right:15px;}
.op3{ left:5px; top:5px;}
.wei{ margin:0 auto;}
.fa{ display:inline; width:25%;}
.he{ display:inline; width:60%;}
.shou input{ font-size:14px; padding-right:2px;}
.sheng{ cursor:pointer;}
.qi .w_90{ width:80%; color:#000; padding:15px 10%;}
.r_t{ right:0; top:-40px;}
.right_top{ right:10%; top:15px; color:#fff;}
.juan dl{ padding:20px 5%; width:35%; overflow:hidden; background:#f4f4f4; margin:3% 0 0 3%;}
.juan dl dt img{ height:80px; margin-bottom:10px;}
.kaka_content dd{ position:relative; z-index:10000;}
.fen_la{ top:52px; right:0; width:40%; padding:0 5%; text-align:center; z-index:20000; background:#fff; display:none;}
.fen_la dt{ height:50px; line-height:50px; border-bottom:solid 1px #ccc;}
.fen_la dt:last-of-type{border-bottom:0;}
.box1{ opacity:0; background:rgba(0,0,0,.8); width:100%; height:100%; position:fixed; top:104px; left:0; z-index:10001;}
.wuliu li{ background:url(../images/ww_05.png) no-repeat 0 0; padding-left:30px; padding-bottom:40px;}
.wuliu li .f_size1{ line-height:1; margin-bottom:5px;}
.wuliu ul{ padding-top:10px;}
.wuliu li:last-of-type{ background:url(../images/ww_051.png) no-repeat 0 0;}
.wuliu li.dao{background:url(../images/ww_03.png) no-repeat 0 0; }

.jf dl{padding:10px 0;width:45%; background:none;}
.jf dl dt img{ height:auto;}
.jing{ height:8px; background:#f7f7f7;}
.w_auto{height:8px; width:80px;}
.deng span{ width:16%; text-align:right; display:inline-block; font-size:14px; cursor:pointer;}
.deng span.sst{  color:#fff; padding-right:4px; background:url(../images/tr.png) no-repeat right 0; background-size:50% auto;}

.w_brand dl{width:33%; margin:0;}
.tou label{ display:block; margin-bottom:10px;}
.bran{ left:3%; bottom:15px; color:#fff;}	
.bran1{ right:3%; bottom:30px;}
.bottom_b{ border-bottom:solid 3px #f29117}
.calendar thead th{ line-height:40px;}
.fixed{ position:fixed; bottom:10px; right:3%; width:90px;}
select{ width:100%; height:30px; line-height:30px;}select option{ font-size:14px;}
.let{ width:100%; top:50%; margin-top:-15px;}
.lety{color:#fff;text-shadow:0px 4px 8px rgba(0,0,0,0.45);}
.pingdan li{ width:42%; margin-bottom:10px;}
.pingdan li.h_huang{ background:url(../images/ws_03.jpg) no-repeat right top #fecd43;}
.pingdan li.c_grey{ color:#ddd;}
.pingdan li.c_grey2{ color:#ddd;opacity: .5;}
.pingdan li:nth-child(even){ float:right;}
.radius2{border-radius:100px;}
.up{top:-40px;position:relative;}
.s_btn{padding-bottom: 80px;}
.wrap_point{position: absolute;bottom: 30px;left: 50%;margin-left: -10px;}
.swiper-bullet{width: 8px;height: 8px;display: inline-block;border-radius: 100%;border: 1px solid #f29117;}
.swiper-bullet-active{background-color: #f29117;}
.index_bottom{padding-bottom: 82px;}
/* loading */
#loading{
    display: block;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    z-index: 9999;
    width: 120px;
    top: 50%;
    position: fixed;
    left: 50%;
    border-radius: 5px;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    height: 120px;
    margin-left: -55px;
    margin-top: -55px;
}
#loading .la-ball-clip-rotate{
    color: rgb(255, 255, 255);
    padding-top: 30%;
    padding-left: 35%;
}
#loading span{
    display: block;
    position: absolute;
    padding-top: 6px;
    margin-left: -30px;
    font-size: 12px;
    width: 100px;
}
.biaoti{float:right;width:70px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.biaoti1{display:inline-block;float:left;width:100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.ellipsis{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;word-break: break-all;overflow: hidden;}
.bg_img1{background:url('../images/wa_26_01.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img2{background:url('../images/wa_26_02.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img3{background:url('../images/wa_38_01.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img4{background:url('../images/wa_38_02.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img5{background:url('../images/wa_40_01.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img6{background:url('../images/wa_40_02.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img7{background:url('../images/wa_42_01.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img8{background:url('../images/wa_42_02.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img9{background:url('../images/wa_45_01.jpg') no-repeat center 8px/50%;background-size: 36px;}
.bg_img10{background:url('../images/wa_45_02.jpg') no-repeat center 8px/50%;background-size: 36px;}
.changeType{background: url('../images/er_07.jpg') no-repeat center right;}
.changeLabel{background: url('../images/er_07.jpg') no-repeat center right;}
.xiance_gb_an{position: absolute; top:-8px; right: -8px;}
.down_updata{height: 20px;line-height: 20px;text-align: center;font-size: 14px;color: #00a0e9;}
.zhong{margin-left:10px; }
.zhong li{float: left;   margin-left: 5px;  line-height: 1.8;}
.dircet{display: flex;width: 100%}
.dircet li{flex: 2;}
.dircet>div{flex: 3;}
.w_load_more{width: 100%;padding: 10px 0;text-align: center;background-color: #f6f6f6;margin-top: 8px;}
.w_bott{padding-bottom: 56px;}
.w_launch{position: absolute;left: 0;top: 0;}
.btn_delete{width: 24%;height: 76px;position: absolute;right: -24%;top: 0;background-color: red;color: #fff5d4;line-height: 76px;text-align: center;
border-radius: 6px; font-size: 14px;}
.gd_imgs{width: 100%;/*height: 200px;*/}
.gd_imgs img{width: 100%;height: 100%;}
.gf_omit{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.gf_title{overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
/*display: -webkit-box; -webkit-box-orient: vertical;  -webkit-line-clamp: 3;overflow: hidden;}*/
.qis{ background:#fff; padding:4%; width:82%;height: 90%; border-radius:4px; font-size:12px; position:fixed; top:18%; left:50%; margin:-100px 0 0 -45%; z-index:100000; overflow:scroll;}
.q_text{width:100%;padding-bottom: 40px;position: relative;}
.q_sjtb{width: 36px;height: 22px;display: inline-block;}
.q_sjtb img{width: 100%;height: 100%;}
.m_top1 button.w_hui{background-color: rgba(204, 204, 204, 0.63);}
.m_b2{margin-bottom:65px}
.tuihuo span.h_c_clas{border-bottom: solid 3px #ff8241;color: #ff8241;}
.xihao1 span.ell{border: solid 1px #ff8241;color: #ff8241;}
.opt{opacity: .5;}
.disabled{
    background: #ccc !important;
    color: #ffffff;
}

.text_line {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    display: block;
}
.c_o003{color: #FF8241}


















