
<div class="waa m_top4">
<div class="w_all w_b">
	<div class="l_r7">
	<div class="w_67 left">
        <img class="l_r5" src="images/jin_03.jpg" width="26">衣衣布舍成衣批发店
    </div>
    <div class="right w_33 t_right">
    	<span class="cheng">买家已付款</span>
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="t_bottom">
<div class="w_b l_r7">
	<div class="left w_25">
        <a href="等待卖家发货.html"><img src="images/jin_11.jpg" width="80"></a>
    </div>
    <a href="等待卖家发货.html"><div class="right w_75">
    	<h1 class="f_size">欧洲站2014早秋新款气质女装雨伞刺绣蕾丝拼接太空棉蓬蓬连衣裙潮</h1>
        <p class="m_top4 c_grey f_size">颜色：蓝色<span class="p_l">尺码：L</span></p>
    </div></a>
    <div class="clear"></div>
</div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7">
    	<p class="t_right"><span class="p_r">共<span class="cheng">3</span>件商品</span>实付：<span class="f_size3 cheng">￥1497.00</span>（含运费￥22.00）</p>
    </div>
</div>
</div>
<div class="waa m_top4"> 
<div class="w_all w_b">
	<div class="l_r7">
	<div class="w_67 left">
        <img class="l_r5" src="images/jin_03.jpg" width="26">衣衣布舍成衣批发店
    </div>
    <div class="right w_33 t_right">
    	<span class="cheng">交易成功</span>
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="t_bottom">
<div class="w_b l_r7">
	<div class="left w_25">
        <a href="交易成功.html"><img src="images/jin_11.jpg" width="80"></a>
    </div>
    <a href="交易成功.html"><div class="right w_75">
    	<h1 class="f_size">欧洲站2014早秋新款气质女装雨伞刺绣蕾丝拼接太空棉蓬蓬连衣裙潮</h1>
        <p class="m_top4 f_size"><span class="b_huang l_r6 radius2">混批订单</span></p>
    </div></a>
    <div class="clear"></div>
</div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7">
    	<p class="t_right"><span class="p_r">共<span class="cheng">3</span>件商品</span>实付：<span class="f_size3 cheng">￥1497.00</span>（含运费￥22.00）</p>
    </div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7">
    	<div class="left"><button class="l_r6 grey f_size radius border">删除订单</button></div>
        <!--<div class="right"><button class="l_r6 grey f_size radius border m_right">查看物流</button><button class="l_r6 grey f_size radius border">点击评价</button></div>-->
        <div class="clear"></div>
    </div>
</div>
</div>
<div class="waa m_top4"> 
<div class="w_all w_b">
	<div class="l_r7">
	<div class="w_67 left">
        <img class="l_r5" src="images/jin_03.jpg" width="26">衣衣布舍成衣批发店
    </div>
    <div class="right w_33 t_right">
    	<span class="cheng">卖家已发货</span>
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="t_bottom">
<div class="w_b l_r7">
	<div class="left w_25">
        <img src="images/jin_11.jpg" width="80">
    </div>
    <div class="right w_75">
    	<h1 class="f_size">欧洲站2014早秋新款气质女装雨伞刺绣蕾丝拼接太空棉蓬蓬连衣裙潮</h1>
        <p class="m_top4 f_size"><span class="c_blue c_border l_r2 radius">预售</span></p>
    </div>
    <div class="clear"></div>
</div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7">
    	<p class="t_right"><span class="p_r">共<span class="cheng">3</span>件商品</span>实付：<span class="f_size3 cheng">￥1497.00</span>（含运费￥22.00）</p>
    </div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7 t_right">
       <!--<button class="l_r6 grey f_size radius border">查看物流</button>-->
    </div>
</div>
</div>
<div class="waa m_top4"> 
<div class="w_all w_b">
	<div class="l_r7">
	<div class="w_67 left">
        <img class="l_r5" src="images/jin_03.jpg" width="26">衣衣布舍成衣批发店
    </div>
    <div class="right w_33 t_right">
    	<span class="cheng">交易关闭</span>
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="t_bottom">
<div class="w_b l_r7">
	<div class="left w_25">
        <img src="images/jin_11.jpg" width="80">
    </div>
    <div class="right w_75">
    	<h1 class="f_size">欧洲站2014早秋新款气质女装雨伞刺绣蕾丝拼接太空棉蓬蓬连衣裙潮</h1>
        <p class="m_top4 f_size"><span class="cheng bb_cheng l_r2 radius">拼单</span></p>
    </div>
    <div class="clear"></div>
</div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7">
    	<p class="t_right"><span class="p_r">共<span class="cheng">3</span>件商品</span>实付：<span class="f_size3 cheng">￥1497.00</span>（含运费￥22.00）</p>
    </div>
</div>
<div class="t_bottom">
	<div class="w_b l_r7 t_right">
       <button class="l_r6 grey f_size radius border">删除订单</button>
    </div>
</div>
</div>
