<!--<div class="w_b l_r7 m_top4" ui-sref="OrdersMessage()">-->
	<!--<div class="left">-->
        <!--<img class="radius" src="images/xx_03.jpg" width="52">-->
    <!--</div>-->
    <!--<div class="right w_80">-->
    	<!--<h1 class="f_size"><span class="right f_size0" ng-bind="orderMsg.created_at*1000|date:'yyyy-MM-dd'" ng-if="orderMsg.created_at"></span>订单消息</h1>-->
        <!--<p class="m_top4 c_grey">{{orderMsg.content}}</p>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
<!--</div>-->
<!--<div class="w_b l_r7 m_top4"  ui-sref="ConcernMessage({did:collectMsg.data_id})">-->
	<!--<div class="left">-->
        <!--<img class="radius" src="images/xx_06.jpg" width="52">-->
    <!--</div>-->
    <!--<div class="right w_80">-->
    	<!--<h1 class="f_size"><span class="right f_size0" ng-bind="collectMsg.created_at*1000|date:'yyyy-MM-dd'" ng-if="collectMsg.created_at"></span>关注消息</h1>-->
        <!--<p class="m_top4 c_grey">{{collectMsg.content}}</p>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
<!--</div>-->
<!--<div class="w_b l_r7 m_top4" ui-sref="CrowdMessage()">-->
	<!--<div class="left">-->
        <!--<img class="radius" src="images/xx_08.jpg" width="52">-->
    <!--</div>-->
    <!--<div class="right w_80">-->
    	<!--<h1 class="f_size"><span class="right f_size0" ng-bind="crowdMsg.created_at*1000|date:'yyyy-MM-dd'" ng-if="crowdMsg.created_at"></span>众筹消息</h1>-->
        <!--<p class="m_top4 c_grey">{{crowdMsg.content}}</p>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
<!--</div>-->
<div class="w_b l_r7 m_top4" ui-sref="CrowdMessage()">
	<div class="left">
        <img class="radius" src="images/xitong.png" width="52">
    </div>
    <div class="right w_80">
    	<h1 class="f_size"><span class="right f_size0" ng-bind="xitongMsg.created_at*1000|date:'yyyy-MM-dd'" ng-if="xitongMsg.created_at"></span>系统消息</h1>
        <p class="m_top4 c_grey">{{xitongMsg.content}}</p>
    </div>
    <div class="clear"></div>
</div>
