<div class="w_b l_r5 tuihuo f_size">
	<ul>
    	<li class="left w_20 t_center" ng-click="getOrderList(0)"><span ng-class="{'h_c_clas': tab_index == 0}">全部</span></li>
        <li class="left w_20 t_center" ng-click="getOrderList(1)"><span ng-class="{'h_c_clas': tab_index == 1}">待付款</span></li>
        <li class="left w_20 t_center" ng-click="getOrderList(2)"><span ng-class="{'h_c_clas': tab_index == 2}">待发货</span></li>
        <li class="left w_20 t_center" ng-click="getOrderList(3)"><span ng-class="{'h_c_clas': tab_index == 3}">待收货</span></li>
        <li class="left w_20 t_center" ng-click="getOrderList(4)"><span ng-class="{'h_c_clas': tab_index == 4}">待评价</span></li>
        <div class="clear"></div>
    </ul>
</div>
<!--全部订单-->
<div ng-if="tab_index == path.status" infinite-scroll='load.nextPage()' infinite-scroll-disabled='load.busy' infinite-scroll-distance='1'>
    <div class="waa m_top4" ng-repeat="order in orderList">
        <div ui-sref="WaitingGood({oid:order.order_id})">
            <div class="w_all w_b" >
                <div class="l_r7">
                    <div class="w_67 left">
                        <img style="border-radius: 100%;height: 26px;" ng-src="{{order.merchant_avatar}}" class="l_r5" src="images/jin_03.jpg" width="26">
                        <span ng-bind="order.merchant_name"></span>
                    </div>
                    <div class="right w_33 t_right">
                        <span class="cheng" ng-bind="stateLsit[order.status]">买家已付款</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div  ui-sref="WaitingGood({oid:order.order_id})">
            <div class="t_bottom">
                <div class="w_b l_r7">
                    <div class="left w_25" style="height: 80px;">
                        <img style="height: 100%;" ng-src="{{thumb180Url+order.order_info[0].product_img}}" src="images/jin_11.jpg" width="80">
                    </div>
                    <div class="right w_75">
                        <h1 class="f_size" ng-bind="order.order_info[0].product_name">欧洲站2014早秋新款气质女装雨伞刺绣蕾丝拼接太空棉蓬蓬连衣裙潮</h1>
                        <p ng-if="order.type == 0" class="m_top4 c_grey f_size">颜色：{{order.order_info[0].color}}<span class="p_l">尺码：{{order.order_info[0].size}}</span></p>
                        <p ng-if="order.type == 1" class="m_top4 f_size"><span class="c_blue c_border l_r2 radius">团购</span></p>
                        <p ng-if="order.type == 2" class="m_top4 f_size"><span class="cheng bb_cheng l_r2 radius">拼单</span></p>
                        <p ng-if="order.type == 3" class="m_top4 f_size"><span class="b_huang l_r6 radius2">混批订单</span></p>
                        <p ng-if="order.type == 4" class="m_top4 f_size"><span class="c_blue c_border l_r2 radius">预售</span></p>
                        <p ng-if="order.type == 5" class="m_top4 f_size"><span class="b_huang l_r6 radius2">抢购</span></p>
                        <p ng-if="order.is_lose == 2" class="m_top4 cheng f_size"><span>有缺货</span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="t_bottom">
                <div class="w_b l_r7">
                    <p class="t_right"><span class="p_r">共<span class="cheng">{{order.num}}</span>件商品</span>实付：<span class="f_size3 cheng">￥{{order.total_all_price | number:2}}</span>（含运费￥<span ng-bind="order.post_fee" ng-if="order.post_fee!=''">22.00</span><span ng-if="order.post_fee==''">0.00</span>）</p>
                </div>
            </div>
        </div>
        <!--<div class="t_bottom">-->
            <!--<div class="w_b l_r7">-->
                <!--<p class="t_center"><span class="right cheng zhan_button"  ng-click="dropList(drop=!drop)">{{texts}}</span>共<span>8</span>件商品</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="t_bottom" ng-show="drop">-->
            <!--<div class="w_b l_r7">-->
                <!--<div class="left w_25" style="height: 80px;" ng-repeat="odity in order.order_info">-->
                    <!--<img style="height: 100%;" ng-src="{{thumb180Url+odity.product_img}}" src="images/jin_11.jpg" width="80">-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="t_bottom">
            <div class="w_b l_r7">
                <div class="right p_l" ng-if="order.status == 1"><button ng-click="cancelOrder(order)" class="l_r6 grey f_size radius border">取消订单</button></div>
                <div class="right p_l" ng-if="order.status == 2&&order.type==0"><button ui-sref="applicationService({oid:order.order_id})" class="l_r6 grey f_size radius border m_right">申请退款</button></div>
                <div class="right p_l" ng-if="order.status == 3"><button ui-sref="WaitingGood({oid:order.order_id})" class="l_r6 grey f_size radius border m_right">确认到货</button></div>
                <div class="right p_l" ng-if="order.status == 3"><a href="https://m.kuaidi100.com/result.jsp?nu={{order.post_sn}}"><button class="l_r6 grey f_size radius border">查看物流</button></a></div>
                <div class="right p_l" ng-if="order.status == 4"><button ng-click="clickevaluate(order)" class="l_r6 grey f_size radius border">点击评价</button></div>
                <div class="left p_l" ng-if="order.status == 4 || order.status == 7 || order.status == 6"><button ng-click="deleteOrder(order)" class="l_r6 grey f_size radius border">删除订单</button></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div style="padding: 10px 0;" ng-show='!load.busy' class="down_updata">加载中...</div>
    <div ng-show='load.busy' class="down_updata">暂无更多订单</div>
</div>

<!--评价模态框-->
<div class="qi relative" ng-show="evaluate">
    <h1 class="wei f_size1 t_center cheng p_b">评价</h1>
    <div class="l_r7 grey">
        <div class="waa m_top4">
            <div class="left w_20 p_left">发货</div>
            <div class="order left p_left0 w_72">
                <ul>
                    <li ng-repeat="star in stars" ng-class="{'on':lightStarF[$index]==star}" ng-click="changeStar($index,1)"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="waa m_top1">
            <div class="left w_20 p_left">物流</div>
            <div class="order left p_left0 w_72">
                <ul>
                    <li ng-repeat="star in stars" ng-class="{'on':lightStarW[$index]==star}" ng-click="changeStar($index,2)"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="waa m_top1 m_b">
            <div class="left w_20 p_left">品质</div>
            <div class="order left p_left0 w_72">
                <ul>
                    <li ng-repeat="star in stars" ng-class="{'on':lightStarP[$index]==star}" ng-click="changeStar($index,3)"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="t_bottom title t_center l_r7">
        <button class="f_size1 cheng b_none" ng-click="evaluateOrder()">确认评价</button>
    </div>
</div>
<div class="box block1" ng-show="evaluate" ng-click="evaluate=!evaluate"></div>