
<div ui-view>

</div>
	<div class="bottom lan w_all w_b" style="height: 74px">
    	<ul>
        	<li class="bg_img1" ui-sref-active="bg_img2" ui-sref="index.main()">
            	<h1 style="height:36px"></h1>
            	<p>首页</p>
            </li>
        	<li class="bg_img3" ui-sref-active="bg_img4" ui-sref="index.FindThe()">
            	<h1 style="height:36px"></h1>
            	<p>找货</p>
            </li>
        	<li class="bg_img5" ui-sref-active="bg_img6" ui-sref="index.Availability()">
            	<h1 style="height:36px"></h1>
            	<p>供求</p>
            </li>

        	<li class="bg_img7" ui-sref-active="bg_img8" ui-sref="index.Purchase()">
            	<h1 style="height:36px"></h1>
            	<p>进货单</p>
            </li>
        	<li class="bg_img9" ui-sref-active="bg_img10" ui-sref="index.MyCenters()">
            	<h1 style="height:36px"></h1>
            	<p>我的</p>
            </li>
        </ul>
    </div>